.home-page {
    height: 100vh;
    width: 100vw;
}


.home-page .content {
    height: 5rem;
}

.home-page .movie-item-component {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
}

.home-page .movie-item-component-recomendation {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 1rem;
}

.home-page .movie-item-component-recomendation .more-item-row {
    display: flex;
    flex-direction: row;
    margin-bottom: -0.8rem;
}

.info-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 3rem;
    /* margin-left: 2rem; */
}

.home-page .info-category .prime-img-cat {
    margin-left: 0.4rem;
    font-weight: 700;
    font-family: 'Spline Sans';
    margin-top: 1rem;
}

.home-page .info-category .text-info {
    margin-left: 0.4rem;
    font-weight: 700;
    font-family: 'Spline Sans';
    margin-top: 1rem;
}

.home-page .prime-video-channels {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    margin-top: 0.5rem;
    /* margin-left: 2.9rem; */
    /* margin-right: 5rem; */
    /* padding-right: 1rem; */
}

.home-page .prime-video-ch-content {
    height: 10rem;
    width: 100vw;
    margin-right: 0.5rem;
}

.home-page .prime-video-channels .prime-video-ch-content .prime-video-ch-thumbnail {
    /* width: 10rem;
    height: 10rem; */
    width: 315.3px;
    height: 137.08px;
    border-radius: 0.2rem;
}

.home-page .top-10-brasil {
    display: flex;
    flex-direction: column;
    /* height: 100px; */
}

.home-page .top-10-brasil .top-10-brasil-text-container{
    width: 100vw;
    background-image: linear-gradient(to right,#0f171e, #0f171e, rgba(0,0,0,0));
    height: 100vh;
    position: absolute;
    /* height: 100vh; */
}

.home-page .top-10-brasil-text-content {
    position: absolute;
    top: 10rem;
    font-size: 20px;
    font-weight: 700;
    z-index: 3;
    left: 6rem;
    
}

.home-page .top-10-brasil .info-category  .prime-img-cat{
    position: relative;
    top: 2rem;
    left: 3rem;
    width: 67.19px;
    height: 24px;
    z-index: 2;
}

.home-page .top-10-brasil .info-category .text-info {
    position: relative;
    top: 3.9rem;
    left: -1.7rem;
    z-index: 2;
    font-size: 20px;
    z-index: 3;
}

.home-page .top-10-brasil-backdrop-path {
    width: 25rem;
    border-radius: 0.2rem;
    position: absolute;
    right: -1rem;
    margin-right: 1rem;
    z-index: -1;
    /* margin-top: 1rem; */
}

.home-page .text-genre {
    position: absolute;
    top: 12rem;
    left: 5.8rem;
    font-size: 18px;
    font-weight: 400;
    z-index: 3;
}

.home-page .age-range {
    background: #ff0000;
    padding: 0.1rem;
    color: #f2f4f6;
    position: absolute;
    left: 20rem;
    top: 11.9rem;
    border: 1px solid #f2f4f6;
    z-index: 3;
}

.home-page .footer-container {
    width: 100vw;
    background-image: linear-gradient(to top,#0f171e, #0f171e, rgba(0,0,0,0));
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.home-page .footer-container .footer-content{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 14rem;
    /* width: 100vw; */
    left: 5.7rem;
}

.home-page .footer-container .footer-content .button-play {
    width: 9rem;
    height: 3rem;
    border-radius: 2rem;
    border-style: none;
    background-color: #0f79af ;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}

.home-page .footer-container .footer-content .button-plus {
    border-radius: 5rem;
    border-style: none;
    width: 3rem;
    margin-left: 0.6rem;
    background-color: #425265;
    color: #ffffff;
}

.home-page .footer-container .footer-content .button-info {
    border-radius: 5rem;
    border-style: none;
    width: 3rem;
    margin-left: 0.6rem;
    background-color: #425265;
    color: #ffffff;
}


.home-page .more-top-10-container {
    /* width: 100%; */
    z-index: 7;
    margin-top: 16rem;
    /* margin-left: 4rem; */
    padding-left: 4rem;
    padding-right: 52%;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
}

.home-page .more-top-10-container .more-top-10-content{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 2rem;
}

.home-page .more-top-10-container .more-top-10-content .more-top-10-text {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Spline Sans';
    margin-right: 1rem;
    margin-top: 4rem;
}

.home-page .more-top-10-container .more-top-10-content .prime-include {
    position: absolute;
    top: 0;
    left: 6.3rem;
}

.home-page .more-top-10-container .more-top-10-content .more-top-10-thumbnail  {
    height: 117.56px;
    width: 209.27px;
    object-fit: cover;
    /* width: 180.69px;
    height: 101.5; */
    border-radius: 0.2rem;
}

.home-page .more-movies {
    z-index: 999;
    position: relative;
}


@media screen and (min-width: 901px) {
    .prime-img-cat {
        width: 4.5rem;
        margin-left: 1rem;
    }
    .text-info {
        margin-top: 0.3rem;
        font-size: 17px;
    }
    .home-page .prime-video-ch-content {
        height: 12rem;
    }
    .home-page .prime-video-channels .prime-video-ch-content .prime-video-ch-thumbnail {
        width: 454.75px;
        height: 197.7px;
    }

    .home-page .top-10-brasil .top-10-brasil-text-container {
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
    }
    
    
    .home-page .top-10-brasil .top-10-brasil-backdrop-path {
        width: 100%;
        height: 100%;
        /* margin: -6rem; */
        position: absolute;
        right: 0;
    }

    .home-page .footer-container {
        background-image: linear-gradient(to top, #0f171e, transparent);
    }
    .home-page .top-10-brasil-text-content {
        position: absolute;
        /* left: 2rem; */
        top: 16rem;
    }
    .home-page .text-genre {
        position: absolute;
        /* left: 2rem; */
        top: 18rem;
    }

    .home-page .age-range {
        position: absolute;
        /* left: 16rem; */
        top: 18rem;
    }

    .home-page .footer-container .footer-content {
        position: absolute;
        /* left: 2rem; */
        top: 20rem;
    }
    
    .home-page .more-top-10-container {
        position: relative;
        top: 8rem;
        padding-right: 77%;
        background-image: linear-gradient(to bottom, #0f171e, #0f171e, transparent);
        background-image: linear-gradient(to top, #0f171e, transparent);
    }
    .home-page .more-top-10-container .more-top-10-content .prime-include-mobile {
        display: none;
    }

    .home-page .more-movies {
        position: relative;
        top: 10rem;
    }
}

@media screen and (max-width: 900px) {
    .prime-img-cat {
        width: 3rem;
    }
    .text-info {
        margin-top: 0;
    }

    .home-page .top-10-brasil .info-category  .prime-img-cat {
        position: relative;
        left: -2rem;
        top: -0.5rem;
        z-index: 3;
    }
    .home-page .top-10-brasil .info-category .text-info {
        font-size: 18px;
        position: relative;
        top: 1rem;
        left: -6.8rem;
        z-index: 3;
    }

    .home-page .top-10-brasil-text-content {
        position: absolute;
        left: 2rem;
    }
        
    .home-page .text-genre {
        position: absolute;
        left: 2rem;
    }

    .home-page .age-range {
        position: absolute;
        left: 16rem;
    }

    .home-page .footer-container .footer-content {
        position: absolute;
        left: 2rem;
    }

    .home-page .more-top-10-container .more-top-10-content img.prime-include-mobile {
        position: relative;
        width: 45px;
        height: 45px;

    }


}