#container-movie-item {
    /* display: inline-block; */
    /* flex-direction: row; */
    /* position: relative; */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 0.5rem;
}
#container-movie-item .content {
    width: 100vw;
    height: 10rem;
    margin-right: -5.5rem;;
    
}
#container-movie-item .content .data-content {
    margin-left: 2rem;
    margin-right: 2rem;
    cursor: pointer;
}

#container-movie-item .content img {
    height: 161.02px;
    width: 285.91px;
}

#container-movie-item .content .data-content .thumbnail-content {
    border-radius: 0.2rem;
    margin-top: -1.802rem;
}

::-webkit-scrollbar {
    width: 0;
}

@media screen and (min-width: 901px) {
    .thumbnail-content {
        width: 20rem;
    }
    .content {
        margin-left: 2.0rem;
    }
    
    #container-movie-item .content .data-content .prime-include {
        width: 51px;
        height: 24px;
        position: relative;
    }
    #container-movie-item .content .data-content .prime-include-mobile {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    #container-movie-item .content .data-content .prime-include {
        display: none;
    }
    
    #container-movie-item .content .data-content .prime-include-mobile {
        position: relative;
        height: 45px;
        width: 45px;
    }

    #container-movie-item .content .data-content .thumbnail-content {
        margin-top: -3.05rem;
    }
    .thumbnail-content {
        width: 20rem;
    }
    #container-movie-item .content {
        margin-right: -4.5rem;
        margin-left: 1rem;
    }
}